/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
	margin: 40px;
	color: #222;
	background-color: #ffd2d2;
	font-family: monospace, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
}

a {
	color: #0000ee;
	text-decoration: none;
	-webkit-transition: 130ms linear;
	-ms-transition: 130ms linear;
	transition: 130ms linear;
}

input,
input:focus {
	border: none;
	font-family: monospace, sans-serif;
	font-size: 14px;
	opacity: .7;
}

a:visited {
	color: #7777ff;
	text-decoration: none;
}

header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #d8daf7;
    padding-top: 40px;
    padding-bottom: 40px;
}